.About-page-Container .app__navbar {
    background-color: var(--color-black);
}


.About-page-Container .aboutusText{
    max-width: 700px;
    margin: auto;
}


.About-page-Container .app__navbar.active{
    background-color: var(--color-body);
}

.About-page-Container .AboutUS{
    margin-top: 130px;
}
.About-page-Container .AboutUS .Heading{
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    color: var(--color-golden);
    padding:  5px 30px;
}
.About-page-Container .AboutUS p{
    font-size: 14px;
    font-weight:400;
    font-family: var(--font-alt);
    color: var(--color-gray);
    line-height: 1.875em;
}
.About-page-Container .AboutUS .About-Details{
    padding: 0 45px;
    text-align: center;
}
.AboutPage{
    margin-top: 100px;
}


@media (max-width:500px) {
.AboutPage{
    margin-top: 60px;
}
}